/* WCAG 2.1 達成基準 1.4.6 */
:root {
	color-scheme: light dark;
	--text-color: #4c4c4c;
	--bg-color: white;
	--link-color: mediumblue;
	--visited-color: darkmagenta;
	--hover-color: rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: whitesmoke;
		--bg-color: #1C1C1C;
		--link-color: deepskyblue;
		--visited-color: plum;
		--hover-color: rgba(255, 255, 255, 0.1);
	}
}

.chofufes-banner{
	background-color: rgb(230, 30, 0);
	color: white;
	font-size: 1.3em;
	padding: 0.5em;
	margin-top: 0;
}
.chofufes-banner a{
	text-decoration: none;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	color: var(--text-color);
	line-height: 1.3;
	font-family: sans-serif;
	text-align: justify;
}
h2 {
	font-size: 1.2rem;
}
address {
	font-style: normal;
}
a {
	text-decoration: none;
}
/* 詳細度を上げたくないので:whereを使う */
:where(a:visited) {
	color: var(--visited-color);
}
:where(a:link) {
	color: var(--link-color);
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
	outline: none;
}

@media (768px < width) {
	.container {
		display: flex;
		max-width: calc(12rem + 770px);
		margin: 2rem auto 0;
		box-sizing: border-box;
	}

	.global-nav {
		width: 12rem;
	}

	.global-nav ul {
		margin-top: 0;
	}

	.global-nav a {
		padding: 0.75rem 1rem;
	}

	main {
		box-sizing: border-box;
		flex: 1;
		margin-left: 1rem;
	}
}

@media (width <= 768px) {
	.global-nav ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		margin-top: 0;
	}
	.global-nav a {
		padding: 1em;
	}
	main {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
}

.global-header {
	display: flex;
	max-width: calc(12rem + 770px);
	margin-right: auto;
	margin-left: auto;
	padding: 1em;
	box-sizing: border-box;
	justify-content: space-between;
}
.global-header .logo {
	line-height: 1;
}
.global-header .logo img {
	width: 48px;
	vertical-align: middle;
	margin-right: 8px;
}
.global-header .name {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--text-color);
	font-weight: bold;
	line-height: 1.2;
	vertical-align: middle;
	letter-spacing: -0.03em;
}
.global-header .name-uec {
	font-size: 1rem;
}
.global-header .name-koken {
	font-size: 1.5rem;
}
.global-header-social-links {
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}
.global-header-social-links a {
	display: block;
	padding: 0.25rem;
}
.global-header-social-links img {
	width: 2rem;
}

.global-nav ul {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	line-height: 1;
}

.global-nav a {
	display: block;
	color: var(--text-color);
	line-height: 1.1;
	transition: background-color 0.2s ease-out;
}

.global-nav a:hover {
	background-color: var(--hover-color);
}

.global-nav .title {
	display: block;
}

.global-nav .en-title {
	font-size: 11px;
}

main > h1:first-child {
	margin-top: 0;
}

.navigation li {
	margin-bottom: 1em;
}

.twitter {
	max-width: 480px;
}

.activity-list {
	list-style-type: none;
	padding-inline-start: 1em;
}

.activity-list li {
	margin-block-end: 0.4em;
}

.activity-list .material-symbols-outlined {
	vertical-align: text-bottom;
	margin-inline-end: 0.2em;
}

.shinkan-poster img {
	/* width: 100%; */
	border: solid 1px black;
}

.compact-dl dt {
	display: inline-block;
	float: left;
}

.distribution-list {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1em;
}
.distribution-list dd {
	margin-left: 1em;
}

.buhou-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	column-gap: 8px;
	row-gap: 8px;
	padding-left: 0;
}
.buhou-list li {
	position: relative;
	display: block;
	border: solid 1px rgba(0, 0, 0, 0.6);
}
.buhou-list a {
	display: block;
}
.buhou-list figure {
	margin: 0;
}
.buhou-list .caption {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0.8rem;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}
.youtube-embed {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}