/* WCAG 2.1 達成基準 1.4.6 */
:root {
	color-scheme: light dark;
	--text-color: #4c4c4c;
	--bg-color: white;
	--link-color: mediumblue;
	--visited-color: darkmagenta;
	--hover-color: rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: whitesmoke;
		--bg-color: #1C1C1C;
		--link-color: deepskyblue;
		--visited-color: plum;
		--hover-color: rgba(255, 255, 255, 0.1);
	}
}

.chofufes-banner{
	display: block;
	background-color: rgb(230, 30, 0);
	color: white;
	font-size: 1.3em;
	padding: 0.5em;
	margin-top: 0;
	text-decoration: none;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	color: var(--text-color);
	line-height: 1.3;
	font-family: sans-serif;
	text-align: justify;
}
h2 {
	font-size: 1.2rem;
}
address {
	font-style: normal;
}
a {
	text-decoration: none;
}
/* 詳細度を上げたくないので:whereを使う */
:where(a:visited) {
	color: var(--visited-color);
}
:where(a:link) {
	color: var(--link-color);
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
	outline: none;
}

.container {
	width: 100%;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;
	box-sizing: border-box;
}

.global-header {
	display: flex;
	flex-wrap: wrap;
	padding-top: 1em;
	box-sizing: border-box;
	justify-content: space-between;
}
.global-header .logo img {
	width: auto;
	height: 48px;
	vertical-align: middle;
}
.global-header-social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

.global-header-social-links a {
	display: block;
	height: 100%;
	padding-right: 0.25em;
	padding-left: 0.25em;
}
.global-header-social-links img {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
}

.global-nav {
	flex-basis: 100%;
	max-width: 100%;
	margin-top: 1rem;
}

.global-nav ul {
	display: flex;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	overflow-x: auto;
	white-space: nowrap;
	line-height: 1;
}

.global-nav a {
	display: block;
	padding: 0.75rem 1rem 0.75rem;
	border-radius: 0.5rem;
	color: var(--text-color);
	transition: background-color 0.2s ease-out;
}

.global-nav a:hover {
	background-color: var(--hover-color);
}

.global-nav .title {
	display: block;
}

.global-nav .en-title {
	font-size: 11px;
}

.main-container {
	margin-top: 1.5rem;
}

main > h1:first-child {
	margin-top: 0;
}

.global-footer {
	margin-block-start: 3rem;
}

.copyright {
	text-align: center;
}

.twitter {
	max-width: 480px;
}

.activity-list {
	display: grid;
	grid-auto-rows: 6rem;
	grid-template-columns: repeat(auto-fill, 10rem);
	gap: 0.5rem normal;
	align-content: space-around;
	justify-content: space-around;
	align-items: center;
	justify-items: center;
	list-style-type: none;
	padding-inline-start: 0;
	text-align: center;
	text-wrap: balance;
}

.activity-list .material-symbols-outlined {
	display: block;
	margin-block-end: 0.5rem;
	font-size: 3rem;
}

.shinkan-poster{
	margin: 1rem 0;
}
.shinkan-poster img {
	/* width: 100%; */
	border: solid 1px black;
	max-height: 640px;
}

.compact-dl dt {
	display: inline-block;
	float: left;
}

.distribution-list {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1em;
}
.distribution-list dd {
	margin-left: 1em;
}

.buhou-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	column-gap: 8px;
	row-gap: 8px;
	padding-left: 0;
}
.buhou-list li {
	position: relative;
	display: block;
	border: solid 1px rgba(0, 0, 0, 0.6);
}
.buhou-list a {
	display: block;
}
.buhou-list figure {
	margin: 0;
}
.buhou-list .caption {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0.8rem;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}
.youtube-embed {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}