body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: aliceblue;
}

h1{
color: aqua;
text-align: center ;
}

h2{
    color: aqua;
    text-align: center ;
    }

h3{
    color: paleturquoise;
    }

a{
    color: paleturquoise;
}