body{
    max-width: 900px;
    margin: 20px auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: aliceblue;
}


a{
    color: paleturquoise;
}

.syokai{
    margin: 1em;
    padding: 1em;
    color: darkblue;
    background-color: aliceblue;
    text-indent: 1em;
}


.img{
    padding: 1em;
}

h2{
    color: aqua;
    text-align: center ;
}

h1{
    color: aqua;
    text-align: center ;
}