:root {
	--main-colour: #ff0000; /*タイトルの色*/
    --sub-colour: #edf2f4; /*各subsection背景*/
    --bg-colour: #ffffff; /*背景*/

	--dark-bg: #2b2d42; /*dark theme 背景*/
	--dark-sub: #746e6e; /*dark theme subsection背景*/
}

body {
    margin: 0px; 
    font-family: sans-serif; 
    background: var(--bg-colour);
}

.main { display: grid; width: 100%; height: 100vh;
    grid-template-areas: "a h c" "a b c" "a d c";
    grid-template-columns: 1fr 67em 1fr;
    grid-template-rows: 9.5em 1fr 2.5em 
}

header {
    grid-area: h; 
    background: var(--main-colour);
    padding: 0.5em; 
    margin: 1em; 
    border-radius: 0.2em;
}
header > img {
    height: 100%;
}

.lside { grid-area: a; background: var(--bg-colour); }
.rside { grid-area: c; background: var(--bg-colour); }

section { grid-area: b; 
    padding-left: 1em; 
    padding-right: 1em;
}
.subsection{
    margin: 0.6em;
    padding: 0.6em;
    border-radius: 0.2em;
    background: var(--sub-colour);
}


footer {
    grid-area: d;
    background: var(--main-colour);
    padding: 0.5em; 
    border-radius: 0.2em;
}

address { text-align: right; color: white; margin-right:1em;}

.itemize{
    text-align: center;
}
.item {
    width: 20em; 
    display: inline-block; 
    padding: 1em; 
    vertical-align: top; 
    box-sizing: border-box;
}
.item > a {
    font-size: x-large;
    text-align: left;
}
.item > a > img {
    width: 100%; 
    border-radius: 0.5em;
}
.item > p {
    text-indent: 0; 
    margin: 1em;
    text-align: left;
} /*リンク集のところ*/

h2{ margin: 0; }
p {text-indent: 1em;}


.linkbutton {
    display:inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 1em;
    border-radius: 0.5em;
    text-align: center;
    text-indent: 0;

    color: #fff;
    background-color:#ff0000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


.linkbutton:hover,
.linkbutton:focus {
    background-color:#b60000;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

@media (max-width:1200px){
    .main {
        grid-template-columns: 1fr 45em 1fr;
    }
} /*itemが2列になる変わり目*/

@media (max-width:850px){
    .main {
        grid-template-columns: 0 100% 0;
    }
}

@media (max-width:530px){
    .main {grid-template-columns: 0 100% 0;
        grid-template-rows: 30vw 1fr 2em 
    }
    h1 {font-size: 13vw;}
    .item {width: 100%;}
    header{
        height: 19vw;
    }
    header > img{
        height:calc(19vw);
    }
}

@media (prefers-color-scheme: dark){
    body {background: var(--dark-bg);}
    .rside{background: var(--dark-bg);}
    .lside{background: var(--dark-bg);}
    h2{color: white;}
    p{color: white;}

    .subsection{background: var(--dark-sub);}
    a {color: #93d7f7;}
}  /*dark theme*/