-# encoding: utf-8
!!!
%html{lang: "ja"}
    %head
        %meta{charset: "UTF-8"}
        %meta{name: "description", content: "第70回調布祭の工学研究部特設サイトです。部員の製作した作品へのリンクを掲載しています。"}
        %title 第70回調布祭 工学研究部特設サイト
        %meta{name: "viewport", content: "width=device-width"}
        %link{rel: "stylesheet", type: "text/css", href: "reset.css"}
        %link{rel: "stylesheet", type: "text/css", href: "style.css"}

    %body
        %header
            %h1 工学研究部
            %p 第70回調布祭 特設サイト

        %main
            %section
                %a{href: "https://chofufes-plarail-2020.takoyaki3.com"}
                    %h1
                        %div
                            %span 工研×鉄研プラレール展示
                    %img{src: "img/plarail-2020-image.png", alt: "「工研×鉄研プラレール展示」の写真"}
                %div
                    %p
                        『工学研究部×鉄道研究会コラボ企画』自動！？遠隔！？進化したプラレール展示。列車やポイント、駅の停車をスマホやPCで遠隔操作できる他、自動運転区間とも直通します。
                        %br
                        (工研×鉄研プラレールプロジェクトチーム)
            %section
                %a{href: "https://github.com/8-ten-duck/win32api_wave_out"}
                    %h1
                        %div
                            %span Windowsで一曲流す
                    %img{src: "img/dammy.png", alt: "作品名1の写真"}
                %div
                    %p
                        Windowsで一曲だけ流すプログラムのリポジトリです。音を流すといっても便利なラッパーを使わず、API直たたきして実現しています。気になることがあれば作者に聞いてみてください。
                        %br
                        (Hatogamo)
            %section
                %a{href: "https://ueckoken.booth.pm/items/2538051"}
                    %h1
                        %div
                            %span 部報第66号
                    %img{src: "img/buhou66-image.png", alt: "「部報66号」の写真"}
                %div
                    %p
                        部員の研究成果をまとめた「工研部報」第66号。電子工作からソフトウェアまで、幅広い話題を満載。
                        %br
                        (部員)

        %footer
            %p
                %small (C)2020 電気通信大学工学研究部
            %ul
                %li
                    %a{href: "http://www.chofusai.uec.ac.jp/"} 調布祭
                %li
                    %a{href: "https://www.koken.club.uec.ac.jp/"} 工学研究部
                %li
                    %a{href: "https://twitter.com/ueckoken"} Twitter
                %li
                    %a{href: "https://ueckoken.booth.pm/"} Booth