-# encoding: utf-8
!!!
%html{lang: "ja"}
    %head
        %meta{charset: "UTF-8"}
        %meta{name: "description", content: "第70回調布祭の工学研究部特設サイトです。部員の製作した作品へのリンクを掲載しています。"}
        %title 第70回調布祭 工学研究部特設サイト
        %meta{name: "viewport", content: "width=device-width"}
        %link{rel: "stylesheet", type: "text/css", href: "reset.css"}
        %link{rel: "stylesheet", type: "text/css", href: "style.css"}

    %body
        %header
            %h1 工学研究部
            %p 第70回調布祭 特設サイト

        %main
            %section
                %h1
                    %div
                        %span 作品名1(K西)
                %img{src: "img/dammy.png", alt: "作品名1の写真"}
                %div
                    %p ああああああああああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおおかかかかかかかかかかききききききききききくくくくくくくくくくけけけけけけけけけけここここここここここささささささささささししししししししししすすすすすすすすすすせせせせせせせせせせそそそそそそそそそそ(文字1種につき10文字です。どのくらいの大きさになるかの参考にして下さい。)
            %section
                %h1
                    %div
                        %span 作品名2(O島)
                %img{src: "img/dammy.png", alt: "作品名2の写真"}
                %div
                    %p 説明文2
            %section
                %h1
                    %div
                        %span 作品名3(K藤)
                %img{src: "img/dammy.png", alt: "作品名3の写真"}
                %div
                    %p 説明文3
            %section
                %h1
                    %div
                        %span 作品名4(E原)
                %img{src: "img/dammy.png", alt: "作品名4の写真"}
                %div
                    %p 説明文4
            %section
                %h1
                    %div
                        %span 作品名5000000000000000(N田)
                %img{src: "img/dammy.png", alt: "作品名5の写真"}
                %div
                    %p 説明文5

        %footer
            %p
                %small (C)2020 電気通信大学工学研究部
            %ul
                %li
                    %a{href: "http://www.chofusai.uec.ac.jp/70th/index.html"} 調布祭
                %li
                    %a{href: "https://www.koken.club.uec.ac.jp/"} 工学研究部
                %li
                    %a{href: "https://twitter.com/ueckoken"} Twitter
                %li
                    %a{href: ""} Booth