-# encoding: utf-8
!!!
%html{lang: "ja"}
    %head
        %meta{charset: "UTF-8"}
        %title 第70回調布祭 工学研究部ポータルサイト

    %body
        %header
            %h1 工学研究部

        %main
            %section
                %h1 作品名1
                %p 説明文1
            %section
                %h1 作品名2
                %p 説明文2
            %section
                %h1 作品名2
                %p 説明文3

        %footer
            %p
                %small (C)2020 電気通信大学工学研究部
            %ul
                %li
                    %a{href: "https://www.koken.club.uec.ac.jp/"} ホームページ
                %li
                    %a{href: "https://twitter.com/ueckoken"} Twitter
                %li
                    %a{href: ""} Booth