*{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.0;
    font-weight: normal;
    font-size: 18px;
}
a{
    text-decoration: none;
}
img{
    vertical-align: bottom;
}
li{
    list-style: none;
}