@charset "UTF-8";
body {
  background-color: #008040;
  font-size: 16px;
}

header {
  text-align: center;
  padding: 1.5rem;
}

header h1 {
  color: #e6b422;
  font-size: 36px;
  font-weight: bold;
}

header p {
  color: #e6b422;
  margin: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1rem;
}

@media (min-width: 1280px) {
  main {
    width: 1280px;
    margin: 0 auto;
  }
}

main section {
  width: calc(100% - 1rem * 2);
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  main section {
    width: calc((100% / 2) - 1rem * 2);
  }
}

@media (min-width: 1280px) {
  main section {
    width: calc((100% / 3) - 1rem * 2);
  }
}

main section h1 {
  text-align: center;
  font-size: 24px;
  padding: 1rem;
}

main section h1 div {
  border-style: solid;
  border-width: 8px;
  border-image: url("img/AVRborder.png") 8 8/8px round;
  display: inline;
}

main section h1 div span {
  color: #c4c4c4;
  background-color: #303030;
}

main section img {
  width: 100%;
  box-sizing: border-box;
  border: solid 1.5rem #110011;
  border-bottom-width: 2.5rem;
}

main section div {
  margin: 1rem;
  border-style: solid;
  border-width: 8px;
  border-image: url("img/maskingtapeBorder.png") 8 8/8px round;
}

main section div p {
  line-height: 2.2em;
  background-color: #bfdfcf;
  /*display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;*/
}

footer {
  text-align: center;
}

footer p small {
  color: #e6b422;
}

footer li {
  margin: 0.5rem 0;
}

footer li a {
  color: #e6b422;
}

footer li a:after {
  content: " ☚";
}

footer li a:visited {
  color: #f35a11;
}
