header h1 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section {
    width: 100%;
}

@media (min-width: 768px) {
    main section {
        width: calc(100% / 2);
    }
}

@media (min-width: 1280px) {
    main section {
        width: calc(100% / 3);
    }
}

main section h1 {
    text-align: center;
}

main section img {
    width: 100%;
}
